[submodule "cmake"]
	path = cmake
	url = https://github.com/open-transactions/opentxs-cmake
[submodule "QR-Code-generator"]
	path = deps/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "deps/opentxs"]
	path = deps/opentxs
	url = https://github.com/open-transactions/opentxs
[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/microsoft/vcpkg
