[submodule "QR-Code-generator"]
	path = deps/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
	shallow = true
[submodule "vcpkg-overlay"]
	path = external/vcpkg-overlay
	url = https://github.com/Open-Transactions/vcpkg-registry
	shallow = true
